body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    background: #a6bddc;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajon {

    background: #c4d2e7;
    padding: 40px;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.enviar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.registro{
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}